<div class="footer">
	<div class="container">
		<h4>Designed by David Spencer</h4>
		<p>A basic Ruby on Rails site for users to list books and make notes on them.</p>
		<p>Source code available on <a href="https://github.com/davidjspencer/book-reviewer" target="_blank"> github</p>
	</div>
</div>